<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paw Paradise</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <h1 id="pageTitle"></h1>
      <nav class="nav" id="nav"></nav>
      <button class="cart-btn" id="cartBtn" type="button">
        <i class="fa-solid fa-cart-arrow-down cart-icon"></i>
        <span id="cartCount">0</span>
      </button>
    </header>

    <!-- View: กล่องว่างรอ shop.js ใส่การ์ดสินค้า -->
    <main id="mainContent" class="main shop"></main>

    <script src="/controller/js/header.js"></script>
    <!-- nav + title -->
    <script src="/controller/js/shop.js"></script>
    <!-- การ์ดสินค้า -->
  </body>
</html>
